# Java / Spring Boot
target/
**/target/
*.class
*.jar
*.war
!**/.mvn/wrapper/maven-wrapper.jar

# Angular / Node
node_modules/
dist/
.angular/

# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.pub/

# Entorno
.env
*.log

# IDEs
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.dbnode_modules/
dist/
.angular/
.env
backend/jass-huacariz-api/uploads/
