<div class="admin-layout">
  <aside class="sidebar">
    <div class="brand">
      <div class="brand-icon">💧</div>

      <div>
        <h2>JASS Huacariz</h2>
        <p>Panel administrativo</p>
      </div>
    </div>

    <nav class="menu">
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span>🏠</span>
        Dashboard
      </a>

      <a routerLink="/admin/clientes" routerLinkActive="active">
        <span>👥</span>
        Clientes
      </a>

      <a routerLink="/admin/recibos" routerLinkActive="active">
        <span>🧾</span>
        Recibos
      </a>

      <a routerLink="/admin/pagos" routerLinkActive="active">
        <span>💰</span>
        Pagos
      </a>

      <a routerLink="/admin/tarifas" routerLinkActive="active">
        <span>⚙️</span>
        Tarifas
      </a>

      <a routerLink="/admin/qr-suministro" routerLinkActive="active">
        <span>▣</span>
        QR Suministro
      </a>

      <a routerLink="/admin/historial-lecturas" routerLinkActive="active">
        <span>📚</span>
        Historial lecturas
      </a>

      <a routerLink="/admin/reportes" routerLinkActive="active">
        <span>📊</span>
        Reportes
      </a>
    </nav>

    <button type="button" class="logout" (click)="cerrarSesion()">
      <span>⏻</span>
      Cerrar sesión
    </button>
  </aside>

  <main class="content">
    <header class="topbar">
      <div>
        <h1>Sistema de Gestión de Agua</h1>
        <p>Administración de clientes, recibos, pagos y tarifas</p>
      </div>

      <div class="user-box">
        <span>Administrador</span>
        <div class="avatar">A</div>
      </div>
    </header>

    <section class="page-content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>